#whole {
    width: 25vw;
    height: 20vh;
}

.close {
    color: #d81b1b;
    opacity: 1;
}

.close {
    opacity: 1
}

.close span {
    color: #af0d0d;
    opacity: 1;
}

#title {
    text-align: left;
}

#heading {
    background-color: grey;
    width: 25vw;
    height: 5vh;
}

#content {
    background-color: lightblue;
    width: 25vw;
    height: 10vh;
}